# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Vendor directory (optional, depends on your workflow)
vendor/

# markdowns
PLAN.md
